.vid {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    box-shadow: 0 0 20px gray;
}

#auth {
    position: fixed;
    right: 1px;
    margin-bottom: 5px;
    z-index: 999;
}
.lie {
    text-decoration: none;
    text-align: center;
    color: skyblue;
    position: relative;
}
.s {
    position: relative;
   right: 15px;
     background-color: black;
    box-shadow: 0 0 100px skyblue;
    filter: drop-shadow(0 0 10px);
    color: skyblue;
}
#cont {
    background: linear-gradient(blue, #f8c5e9);
    display: none;
    flex-direction: column;
    align-items: center;
}
#cont {
    position: fixed;
    top: 48px;
    right: 0;
    width: 12rem;
    border-radius: 20px;
    box-shadow: 0 0 15px 3px blue;
    padding: 15px
}
