body {
    background-color: black;
    background-image: 
        linear-gradient(skyblue 2px, transparent 1px),
        linear-gradient(90deg, skyblue 2px, transparent 1px);
    background-size: 90px 90px;
    background-attachment: fixed
}
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: skyblue;
    padding: 0.5rem;
    box-shadow: 0 0 15px skyblue;
}
nav .ul {
    display: flex;
    justify-content: space-around;
}
nav .ul button {
    background-color: skyblue;
    height: 2rem;
    width: 6rem;
    font-family: elephant;
    color: currentColor;
    border: hidden;
}
nav .ul button:hover {
    border: aquamarine;
    border-radius: 0 0 50%;
    transition: 0.3s ease-in;
    background-color: #bdebfb;
}
h1 {
    color: skyblue;
    text-align: center;
    margin-top: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    height: 5rem;
    left: 0;
    z-index: 9999;
}
